<head>
  <style>
    .blue {
      background-color: #002B7F;
  }
  .yellow {
      background-color: #FCD116;
  }
  .red {
      background-color: #CE1126;
  }
  </style>
</head>



<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-4 blue">
                <a class="navbar-brand text-white" href="#">Welcome to: </a>
                <ul class="navbar-nav">
                </ul>
            </div>
            <div class="col-4 yellow">
                <ul class="navbar-nav">
                   
                </ul>
            </div>
            <div class="col-4 red">
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn-link text-white">Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>